.nav {
  background-image: linear-gradient(to left, pink, orange);
  display: flex;
  position: 'relative';
  z-index: 1;
  width: 100%;
  gap: 8px;
  padding: 16px;
  border-bottom: 2px solid #474f52;
  margin: 0px 0px 40px 0px;
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.link {
  color: black;
}

.link.active {
  color: #ff0000c0;
}
.title {
  margin: 0 auto;
}
